body {
    color: rgba(44, 43, 43, 0.623);
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin: 1px;
}

ul {
    display: list-item;
    list-style-type: none;
    text-align: right;
    text-transform: uppercase;


}

a {
    color: rgba(71, 71, 71, 0.849);
    text-decoration: none;
}

header img {
    width: 280px;
    height: 280px;
    border-radius: 2000px;

}

.center {
    text-align: left;
}

h1 {
    color: rgba(0, 0, 0, 0.432);
}

header {
    text-align: left;
    margin: 10px 10px;
    margin-top: 0.5px;

}

footer img {
    width: 70px;
    height: 30px;
}

footer {
    display: flex;
    justify-content: center;

}

footer a {
    margin: 20px;
    text-align: center;

}

footer p {
    margin-top: 5px;
}

.container {
    padding: 10px 40px;
    
}

nav a:hover {
    color: rgba(0, 0, 0, 0.432);

}

main {
    text-align: left;
}

.rodape {
    color: rgba(0, 0, 0, 0.493);
    text-align: center;

}

img {
    width: 70px;
    height: 30px;
    text-align: right;

}

.inicio {
    text-align: left;
}